*{
	padding :0;
	margin:0 auto;
	text-align: center;
}
ul,ol,li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.head1{
	height:30px;
	clear:both;
	width:100%;
	background-color:#f5f5f5;
	margin:0 auto;
}
.head2{
	height:116px;
	width:100%;
	margin:0 auto;
}
.head2 p{
	margin-top: 41px;
}
.headleader{
	height:40px;
	width:100%;
}
.headleader li{
	width:89px;
	float:left;
	margin-left:2.5%;
	font-size:16px;
	height:28px;
	padding-top:5px;
	border-radius: 10px;
}
.logo{
	height:30%;
	width:100%;
}
.body{
	width:100%;
	height:726px;
	background-color:#fbfbfb;
}
.wei1{
	height:90px;
	width:100%;
	background-color:red;
}
.wei1 .a{
	float:left;
	height:86px;
	width:22.5%;
}
.wei1 p{
	margin-top:34px;
	margin-left:2%;
	float:left;
	color:white;
}
.wei1 img{
	float:left;
	margin-top:15px;
}
.wei2 .c
{
	height:150px;
	width:16%;
	float:left;
	font-size: 14px;
}
.b{
	font-size:16px;	
	margin-top:20px;
}
.wei2 a{
	text-align: left;
	margin-top: 10px;
	display:block;
}
.wei2{
	width:100%;
	height:170px;
	background-color: #2e2e2e;
	color: white;
}
.wei3{
	height:124px;
	width:100%;
	background-color: #2e2e2e;
}
.wei3 img{
	float:left;
	margin-top:32px;
	margin-left: 1%;
	margin-right: 1%;
}
.wei3 a{
	float:left;
	color:#9e9e9e;
	margin-top:25px;
}