*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height:190px;
	background-color: white;
	width:100%;
}
.header1{
	height:30px;
	background-color: #f4f4f4;
	width:100%;

}
.header1-li{
	width:1200px;
	height:30px;
	font-size: 12px;
	font-family: 微软雅黑;
	margin:0 auto;
}
.li1{
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 7px;
	float:left;
}
.li2{
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 7px;
	float:left;
	margin-left: 12px;
}
.li3{
	font-size: 15px;
	margin-top: 7px;
	margin-bottom: 7px;
	float:left;
	margin-left: 12px;
}
.li4{
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 7px;
	float:right;
	margin-right: 12px;
}
.header2{
	height:120px;
	background-color: white;
	width:100%;
}
.header2-li{
	width:1200px;
	height:120px;
	margin:0 auto;
	background-color: white;
	padding-left: 0px;
}
.li2-1{
	width: 180px;
	height:80px;
	margin-top: 20px;
	float:left;
	background-color: white;
	background:url(img/ezu.png) no-repeat center center;
	clear:both;
}
.li2-2{
	width:408px;
	height:28px;
	margin-top: 41px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
	font-size: 15px;
	font-style: 微软雅黑;
	text-align: 10px;
	float:left;
	padding-top: 12px;
	margin-left:120px;
	color: gray;
}
.li2-2-1{
	width:95px;
	height:30px;
	margin-left: 0px;
	margin-top: 41px;
	padding-top: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
	background-color: red;
	font-size: 15px;
	font-style: 微软雅黑;
	text-align: center;
	float:left;
}
.li2-2-2{
	width:150px;
	height:40px;
	margin-top: 30px;
	margin-left:20px; 
	float:left;
	background-color: #f5f5f5;
	border-color: #e3e3e3;
	border-style:solid;
	border-width: 1px;

}
.header3-li{
	width:1200px;
	height:40px;
	margin:0 auto;
	background-color: white;
}
.li3-1{
	width: 92px;
	height:25px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 10px;
	float:left;
}
.li3-2{
	width: 92px;
	height:25px;
	border-radius:5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 10px;
	margin-left: 40px;
	float:left;
}

/*大图*/
.headerdown{
	width:100%;
	height:463px;
	border-top-style: solid;
	border-top-color: red;
	border-top-width: 3px;
	background:url(images/01_02.gif) no-repeat center center;
}
.headerdown-li{
    width:1200px;
	height:463px;
	margin:0 auto;
}
.shulie{
	width:215px;
	height:463px;
	background-color: #24302f;
}
.shulie1{
	width:215px;
	height:25px;
	color:white;
	padding-top: 20px;
	padding-left:20px;
}
.middle{
	width: 1200px;
	height:1316px;
	margin :0 auto;
}
.middle1{
	height:52px;
	padding-top: 25px;
}
.middle2{
	height:1087px;
}
.middle2-1{
	width:218px;
	height:335px;
	margin-bottom: 38px;
	margin-right: 20px;
	float:left;
	border-width: 1px;
	border-color: #dbdbdb;
	border-style:solid;

}
.middle2-2{
	width:218px;
	height:335px;
	margin-bottom: 38px;
	float:left;
	border-width: 1px;
	border-color: #dbdbdb;
	border-style:solid;
}
.middle2-3{
	width:218px;
	height:335px;
	margin-right: 20px;
	float:left;
	border-width: 1px;
	border-color: #dbdbdb;
	border-style:solid;

}
.middle2-4{
	width:218px;
	height:335px;
	float:left;
	border-width: 1px;
	border-color: #dbdbdb;
	border-style:solid;

}
.pinming{
	font-size: 12px;
	color:gray;
	margin-top: 20px;
	text-align: center;
}
.jiage{
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
}
.liji{
	width:100px;
	height:22px;
	background-color: red;
	padding-top:10px;
	border-radius:5px;
	color:white;
	text-align: center;
	margin-left:55px;
	margin-top: 20px; 
}
.middle4{
	height:137px;
	margin:0 auto;
	width:1200px;
	background-color: white;
}
.middle4-1{
	width: 59px;
	height: 36px;
	margin-left: 425px;
	margin-top:50px;
	margin-bottom: 50px;
	border-style:solid;
	border-color: #dcdcdc;
	border-width: 2px;
	float:left;
}
.middle4-2{
	width: 80px;
	height: 36px;
	margin-left: 20px;
	margin-top:50px;
	margin-bottom: 50px;
	border-style:solid;
	border-color: #dcdcdc;
	border-width: 2px;
	float:left;
}
.middle4-3{	
	width: 80px;
	height: 36px;
	margin-left: 20px;
	margin-top:50px;
	margin-bottom: 50px;
	border-style:solid;
	border-color: #dcdcdc;
	border-width: 2px;
	float:left;

}
.middle4-4{
	width: 59px;
	height: 36px;
	margin-left: 20px;
	margin-top:50px;
	margin-bottom: 50px;
	border-style:solid;
	border-color: #dcdcdc;
	border-width: 2px;
	float:left;
}


.di{
	height:336px;
	width:100%;
	background-color: black;
}
.di1{
	height:88px;
	width:100%;
	background-color: red;
}
.di1-li{
	height:88px;
	width:1200px;
	margin:0 auto;
}
.di1-1{
	height:63px;
	width:140px;
	float:left;
	margin-top:10px;
	margin-bottom: 10px;
}
.di1-2{
	height:63px;
	width:140px;
	float:left;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: 210px;
}
.di2{
	height:151px;
	width:100%;
}
.di2-li{
	height:151px;
	width:1200px;
	margin:0 auto;
	border-color: #d5d5d5;
	border-width: 1px;
	border-bottom-style: solid;
}
.di2-1{
	height:141px;
	float:left;
	padding-top: 10px;
	line-height:30px;
	font-size :20px;
	color:#d5d5d5;
}
.di2-2{
	height:141px;
	float:left;
	padding-top: 10px;
	margin-left: 160px;
	line-height:30px;
	font-size :20px;
	color:#d5d5d5;
}
.di3{
	height:86px;
	width:1200px;
	margin:0 auto;
	text-align: center;
	padding-top: 10px;
	line-height: 35px;
	font-size: 15px;
	color: #6f6f6f;
}