
*{
	padding:0;
	margin:0 auto;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height: 45px;
	background-color: #333333;
}
.headera{
   	width:100%;
   	height:45px;
   	margin:0 auto;
}

.header1{
	width:110px;
	height:20px;
	float:right;
	margin-top: 15px;
	margin-right:35px;
	font-size:14px;
	font-family: 微软雅黑; 
}

.nav{
	height:80px;
	width:100%;
	margin: 0 auto;
}
.nav1{
	width:180px;
	height:50px;
	margin-top: 20px;
	float:left;
	background:url(../img/yinghua.png) no-repeat center center;
}
.nav  li{
	font-size :20px;
	font-family:微软雅黑;
	float:right;
	padding:0 10px;
	margin-top: 20px;
	line-height:45px;
	height:45px;
}
.a{
	border-bottom:3px  solid #e8420a;
	color:#e8420a;
}

.n1{
	height: 115px;
	font-family: 微软雅黑;
	font-size: 18px;
	padding-top: 45px;
	padding-left: 115px;
}

.z{
	height: 2400px;
	width: 100%;
}
.n2{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1c5080;
}
.k1{
	width: 150px;
	height: 50px;
	text-align: center;
	background-color: #1c5080;
	float: left;
	padding-top: 0;
	font-family: 微软雅黑;
	font-size: 24px;
	color: white;
}
.n3{
	width: 1200px;
	height: 65px;
	margin: 0 auto;
}
.n3n{
	float: left;
	width: 150px;
	height: 65px;
	background-color: #f5f5f5;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 20px;
	padding-top: 0;
}
.n3 li{
	font-family: 微软雅黑;
	font-size: 20px;
	float:left;
	padding:0 20px;
	margin-top: 10px;
	line-height:45px;
	height:45px;
}
.b{
	color: #1c5080;
}
.n4{
	width: 1200px;
	height: 115px;
	margin: 0 auto;
}
.n4n{
	width: 150px;
	height: 115px;
	float: left;
}
.c{
	color: #1c5080;
	border-bottom:3px  solid #1c5080;
}
.n4 li{
	font-family: 微软雅黑;
	font-size: 20px;
	float:left;
	padding:0 10px;
	margin-top: 10px;
	line-height:45px;
	height:45px;
	color: #b4b4b4;
}
.n5{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	background-color: #f5f5f5;
	font-family: 微软雅黑;
	font-size: 20px;
	margin-top: 35px;
	padding-left: 40px;
}
.n6{
	width: 1200px;
	height: 375px;
	margin: 0 auto;
}
.n6n1{
	width: 470px;
	height: 375px;
	float: left;
	padding-top: 20px;
}
.n6n2{
	width: 730px;
	height: 375px;
	float: left;
	padding-top: 20px;
}
.n6n2 li{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #e0e0e0;
	padding:0 15px;
	margin-top: 10px;

}
.n7{
	width: 1200px;
	height: 220px;
	margin: 0 auto;
}
.n7n1{
	width: 35px;
	height: 35px;
	border-width: 1px;
	border: solid;
	border-color: #d8d8d8;
	text-align: center;
	margin-top: 70px;
	margin-left: 825px;
	border-radius: 5px;
	float: left;
}
.n7n2{
	width: 35px;
	height: 35px;
	border-width: 1px;
	border: solid;
	border-color: #d8d8d8;
	text-align: center;
	margin-top: 70px;
	margin-left: 5px;
	border-radius: 5px;
	float: left;
}


.bottom{
	width: 100%;
	height: 800px;
	background-color: #000000;
}
.bottombox{
	width: 1200px;
	height: 270px;
	margin:0 auto;
}
.bottoms1{
	width: 785px;
	height: 270px;
	float: left;
}
.bottoms1 li:first-child{
	font-size: 18px;
	color: #ffffff;
}
.sss1{
	width: 115px;
	height: 195px;
	float: left;
	padding-top: 75px;
}
.ssss1{
	font-size: 14px;
	color: #ffffff;
	margin-top: 15px;
	opacity: 0.8;
}
.sss2{
	width: 120px;
	height: 195px;
	float: left;
	padding-top: 75px;
	text-align: center;
}
.sss2 img{
	margin-top: 20px;
}
.sss3{
	float: left;
	width: 60px;
	height: 143px;
	padding-top: 127px;
	text-align: center;
}
.sss4{
	float: left;
	width: 235px;
	height: 145px;
	padding-top: 125px;
}
.bottoms2{
	float: left;
	width: 415px;
	height: 270px;
}
.xxx1{
	height: 140px;
	width: 205px;
	float: left;
}
.xxx1 img{
	float: left;
	padding-top: 75px;
}
.xxx1 ul{
	float: left;
}
.xxx2{
	padding-left: 25px;
	padding-top: 68px;
	font-size: 26px;
	color: #ffffff;
}
.xxx3{
	font-size:13px; 
	opacity: 0.8;
	color: #ffffff;
	padding-top: 9px;
	padding-left: 25px;
}
.xxx4{
	float: left;
	width: 210px;
	height: 70px;
	font-size: 26px;
	padding-top: 70px;
	color: #ffffff;
}
.xxx5{
	float: left;
	width: 415px;
	height: 105px;
	font-size: 16px;
	color: #ffffff;
	padding-top: 25px;
	padding-left: 85px;
}
.xxx5 li{
	padding-bottom: 5px;
}
.bottom3{
	margin:0 auto;
	width: 1200px;
	height: 400px;
	color: #ffffff;
}
.yyy1{
	width: 1200px;
	height: 150px;
	margin:0 auto;
}
.yyy1 li{
	float: left;
}
.yy5{

	font-size: 18px;
	padding-top: 50px;
	padding-right: 70px;
}
.yy4{
	display: inline-block;
	background:url(../img/xie.png)no-repeat center top;
	margin-top: 47px;
	padding-top: 55px;
	padding-left: 70px;
	padding-right: 70px;
}
.yy1{
	background: url(../img/fei.png)no-repeat top center;
	margin-top: 47px;
	padding-top: 55px;
	padding-left: 70px;
	padding-right: 70px;
}
.yy2{
	background: url(../img/qu.png)no-repeat top center;
	margin-top: 47px;
	padding-top: 55px;
	padding-left: 70px;
	padding-right: 70px;
}
.yy3{
	background: url(../img/tian.png)no-repeat top center;
	margin-top: 47px;
	padding-top: 55px;
	padding-left: 70px;
	padding-right: 70px;
}
.bottom4{
	width: 1200px;
	height: 100px;
	margin:0 auto;
}
.zz{
	float: left;
	width: 100px;
	height: 75px;
	font-size: 18px;
	color: #ffffff;
}
.bottom4 li{
	float: left;
	color: #ffffff;
	opacity: 0.8;
	font-size: 14px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.bottom5{
	width: 1200px;
	height: 70px;
}
.bottom5 li{
	float: left;
	color: #ffffff;
	opacity: 0.8;
	font-size: 14px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.bottom6{
	width: 1200px;
	height: 70px;
	float: left;
}
.bottom6 li{
	float: left;
	color: #ffffff;
	opacity: 0.8;
	font-size: 14px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.bottomlast{
	width: 1200px;
	height: 70px;
	margin:0 auto;
	text-align: center;
	font-size: 16px;
	color:#ffffff;
	padding-top: 40px;
}
.bottomlast p{
	padding-bottom: 20px;
}
.bottomline{

}
.bottomline2{
	float: left;
	width: 100%;
	height: 1px;
	color: #ffffff;
}
